<header class="header">
    <nav class="header__nav uk-navbar-container" uk-navbar style="position: relative; z-index: 980;">
        <div class="counter__wrapper uk-navbar-left">
           <app-offers-counter></app-offers-counter>
        </div>
        <div class="uk-navbar-center logo">
          <a class="logo__ref" href="#">
            <img src="../../assets/img/logo.png" alt="DubaiLifestyleApp">
          </a>
        </div>
        <div class="counter__wrapper uk-navbar-right">
            <app-time-counter></app-time-counter>
        </div>
        <div class="menu-responsive uk-navbar-right">
            <app-header-responsive></app-header-responsive>
        </div>
    </nav>
</header>