
.header{
    &__nav{
      height: 68px;
      background: rgba(0, 0, 0, 0.4);
    }
}

.menu-responsive{
    display: none;
}

.logo{
   &__ref{
        max-width: 480px;
    }
}

@media screen and (max-width:1280px) {
    .logo{
        &__ref{
            max-width: 400px;
        }
    }
}

@media screen and (max-width:1024px) {
    .menu-responsive{
        display: flex;
        margin-right: 20px;
    }

    .logo{
        width: 300px;
        padding-left: 20px;
        left: 0;
        transform: translate(0%, -50%);
    }

    .counter__wrapper{
        display: none;
    }
}

@media screen and (max-width:640px) {
    .logo{
        width: 200px;
        padding-left: 10px;
    }
    .menu-responsive{
        margin-right: 10px;
    }
}