<section class="cover">
    <img class="cover__image" src="../../assets/img/cover__mainpage.jpg" alt="dubaiLifestyle">
    <div class="uk-container cover__container">
      <h1 class="heading-main">
        <div> 
              Be One Of 
              <span class="heading-main_bold">100 Beta Testers </span>
              To Profit
        </div>
        <div>
          From The 
          <span class="heading-main_bold">Dubai Lifestyle App</span>
        </div>
      </h1>
      <div class="cover__container_video">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Evit_w8srGM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="cover__form">
        <app-opt-in></app-opt-in>
      </div>
      <app-security [heading]="'white'"></app-security>
    </div>
  </section>