<section class="team">
  <div class="uk-container">
    <h2 class="team__heading">meet scott hathaway</h2>
    <span class="team__subheading">CEO & Founder, Dubai Lifestyle App</span>
    <img class="team__image" src="./assets/img/team/scott.jpg" alt="Scott Hathaway">
    <div class="team__desc">
        <p class="team__reg" >If you haven’t yet heard, the <span class="team_bold team_upper">Dubai Lifestyle App</span> has just launched internationally</p>
        <p class="team__reg"> and we’re looking for <span class="team_bold team_indent">100 beta testers</span> to make profits of over</p>
        <p class="team__profit">$<span class="team__profit_bold">7000</span> a day</p>
        <a class="team__reg" href="#">Watch the video now to see how you can join us - <span class="team_bold team_indent team_upper">free!</span></a>
    </div>
    <img class="team__image" src="./assets/img/team/team.jpg" alt="Team">
    <div class="team__desc">
        <p class="team__reg team_italic">Your Friends,</p>
        <p class="team__reg">The <span class="team_bold team_upper">Dubai Lifestyle App</span> Team</p>
    </div>
  </div>  
</section>
