<section class="cover">
    <img class="cover__image" src="../../assets/img/cover__mainpage.jpg" alt="dubaiLifestyle">
    <div class="uk-container cover__container">
      <h1 class="heading-main">
          Welcome To The 
          <span class="heading-main_bold heading-main_upper">Dubai Lifestyle App</span>
          Members
      </h1>
      <div uk-grid>
        <div class="uk-width-1-2@m uk-width-2-3@l">
            <iframe width="100%" height="100%" style="min-height:400px" src="https://www.youtube.com/embed/Evit_w8srGM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
        <div class="uk-width-1-2@m uk-width-1-3@l">
          <app-sign-up></app-sign-up>
        </div>
      </div>
    </div>
  </section>